<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bubugihu - Profile</title>
    <meta content="My name is Bubu" name="description" />
    <meta content="bubugihu, Bùi Gia Hưng" name="keywords" />
    <link rel="canonical" href="https://buigiahung.com/" />
    <meta property="og:title" content="Bùi Gia Hưng - Backend Developer PHP C#" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="https://buigiahung.com/" />
    <meta property="og:description" content="Backend Developer PHP C#" />
    <meta property="og:image" content="https://buigiahung.com/assets/img/fav3.png" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <!-- Favicons -->
    <link href="assets/img/fav3.png" rel="icon" />
    <link href="assets/img/fav3.png" rel="logo-touch-icon" />

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/JNKKKK/MoreToggles.css@0.2.1/output/moretoggles.min.css">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css?v=3" rel="stylesheet" />
    <link
      href="https://shopmexuba.online/catalog/view/javascript/jquery/magnific/magnific-popup.css"
      rel="stylesheet"
    />
    
    <style>
  .btn-close i::before {
  	color: red !important;
  }
  .btn-close {
  	color: #000;
  }
  .heading2,
  .text-white,
  .mfp-close-btn-in .mfp-close {
  	color: #fff !important;
  }
  .mfp-close-btn-in .mfp-close {
  	font-size: 50px;
  }
  
  
  .white-popup {
  
  animation: open 2s;
}

.mfp-removing{
  animation: close 1s;
}

@keyframes open {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes close {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}
</style>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q1QP89J75T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q1QP89J75T');
</script>
  </head>

  <body>
      
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">
      <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li>
            <a href="#hero" class="nav-link scrollto active"
              ><i class="bx bx-home"></i> <span id="spanhome">Home</span></a
            >
          </li>
          <li>
            <a href="#about" class="nav-link scrollto"
              ><i class="bx bx-user"></i> <span id="spanabout">About</span></a
            >
          </li>
          
          <li>
            <a href="#resume" class="nav-link scrollto"
              ><i class="bx bx-file-blank"></i> <span id="spanwork">Work Experience</span></a
            >
          </li>
          <li>
            <a href="#pro" class="nav-link scrollto"
              ><i class="bx bx-code-curly"></i> <span id="spanpro">Programming Experience</span></a
            >
          </li>
          <li>
            <a href="#skills" class="nav-link scrollto">
                <i class="bx bx-book-content"></i> <span id="spanskill">Skills</span></a>
          </li>
          <li>
            <a href="#contact" class="nav-link scrollto"
              ><i class="bx bx-envelope"></i> <span id="spancontact">Contact</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Bùi Gia Hưng</h1>
        <p>
          I'm
          <span
            class="typed"
            data-typed-items=",A Back-End Developer"
          ></span>
        </p>
        <div class="social-links">
          <a class="twitter"
            ><i class="bx bxl-twitter"></i
          ></a>
          <a href="https://www.facebook.com/bungbu.bu.75" target="_blank" class="facebook"
            ><i class="bx bxl-facebook"></i
          ></a>
          <a  class="github"
            ><i class="bx bxl-github"></i
          ></a>
          <a href="mailto:bubugihu@gmail.com" class="google-mail"
            ><i class="bx bx-envelope"></i
          ></a>
          <a  class="linkedin"
            ><i class="bx bxl-linkedin"></i
          ></a>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
             <!-- Default switch -->
<div class="mt-android-violet"> 
    <input id="mt5" type="checkbox" />
    <label for="mt5"></label>  </div>

            <h2 id="h2about">About</h2>
            <p>
              "Trời xanh gió mát, mây hững hờ<br>
              Tôi ngồi tôi viết mấy dòng thơ<br>
              Hiền lành, vui vẻ, hay chăm chỉ<br>
              Hoà đồng thân thiện, thích mộng mơ."<br>
            </p>
            <!--<p>My name is Hung. I'm not a man who in above poem.</p>-->
          </div>

          <div class="row">
            <div class="col-lg-4">
              <img src="assets/img/bu.jpg" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
              <h3>Web App Developer.</h3>
              <!-- <p class="fst-italic">
                Text...
              </p> -->
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="fullname">Full Name:</strong>
                      <span>Bùi Gia Hưng</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="birthday">Birthday:</strong>
                      <span>11-11-1990</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="website">Website:</strong>
                      <a href="https://buigiahung.com/">
                        <span>https://buigiahung.com/</span></a
                      >
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="phone">Phone:</strong> <span>(+84) 0934 093 001</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="city">City:</strong>
                      <span>Ho Chi Minh City, VietNam</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="status">Marital status:</strong> <span>Married</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="degree">Degree:</strong> <span>APTECH FPT (2019-2021)</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <strong id="career">Career Objective:</strong>
                    <ul>
                        <li>
                          <i class="bi bi-chevron-right"></i>
                          <span>Make a production about my daily routine.</span>
                        </li>
                        <li>
                          <i class="bi bi-chevron-right"></i>
                          <span>Make me better by clean code, high performance.</span>
                        </li>
                        <li>
                          <i class="bi bi-chevron-right"></i>
                          <span>Always learning new technology.</span>
                        </li>
                    </ul>
                 
                </div>
              </div>
              <div style="margin-top: 20px">
                <form
                  method="get"
                  action="assets/img/CV_for_Dev_Bui_Gia_Hung_(en).pdf"
                  download="CV_for_Dev_Bui_Gia_Hung_(en)"
                >
                  <button id="download" type="submit">Download CV</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 id="h2work">Work Experience</h2>
            <!-- <p>Text...</p> -->
          </div>

          <div class="row">
              <div class="col-lg-4">
                        <h3 class="resume-title">2022</h3>
                        <!-- Project  -->
                  <div class="resume-item">
                    <h4>E-commerce Pharmacy Website</h4>
                    <h5>(Opencart From 12/2021 to 01/2022)</h5>
                    <p><em>Developing the E-commerce VietNam Pharmacy website.</em></p>
                    <p>
                      My role:Code module: pre-order, coupon, payment online, Customize structure of OpenCart, Php.
                    </p>
                    <p>(Team size: 2 persons)</p>
                    <!--<p><a href="http://shoesmvnd.somee.com/">The website is similar to this.</a></p>-->
                  </div>
                  <!-- Project  -->

                </div>
            <div class="col-lg-4">
              <h3 class="resume-title">2021</h3>
                <!-- Project  -->
              <div class="resume-item">
                <h4>E-commerce Functional Foods</h4>
                <h5>(Opencart From 11/2021 to 12/2021)</h5>
                <p><em>Developing the E-commerce VietNam Functional Foods website.</em></p>
                <p>
                  My role:Code module: pre-order, coupon, payment online, Customize structure of OpenCart, Php.
                </p>
                <p>(Team size: 2 persons)</p>
                <p class="sshow" >Demo website.</p>
                <p class="shide"><a href="https://dongtrunghathaopg.com/">The website is similar to this.</a></p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>CO-OP website Visa</h4>
                <h5>(Laravel From 11/2021 to 12/2021)</h5>
                <p><em> Developing the B2B website Visa.</em></p>
                <p>
                  My role: Team leader: Communicate with customers, analyze customer requirements, database design, Laravel 7.
                </p>
                <p>(Team size: 3 persons)</p>
                <p class="sshow" >Demo website.</p>
                <p class="shide" ><a href="http://visa.buigiahung.com/" target="_blank">The website is similar to this.</a></p>
              </div>
              <!-- Project  -->
               <!-- Project  -->
              <div class="resume-item">
                <h4>CO-OP website Agricultural products</h4>
                <h5>(Laravel From 11/2021 to 12/2021)</h5>
                <p><em> Developing the B2B website Agricultural products</em></p>
                <p>
                  My role: Team leader: Communicate with customers, analyze customer requirements, database design, Laravel 7.
                </p>
                <p>(Team size: 3 persons)</p>
                <p class="sshow" >Demo website.</p>
                <p class="shide" ><a href="http://fruit.buigiahung.com/" target="_blank">The website is similar to this.</a></p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>Shift management</h4>
                <h5>(C# ASP .Net Core From 09/2021 to 11/2021)</h5>
                <p><em> Developing the system manage doctors, nurse, arrange shifts.</em></p>
                <p>
                  My role: Team leader: Communicate with customers, analyze customer requirements, database design, code module booking shift. Nuxt JS, ASP .Net Core.
                </p>
                <p>(Team size: 5 persons)</p>
                <!-- <p><a href="http://shoesmvnd.somee.com/">The website is similar to this.</a></p> -->
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>E-commerce VietNam Book</h4>
                <h5>(C# ASP .Net Core From 09/2021 to 11/2021)</h5>
                <p><em> Developing the features of system.</em></p>
                <p>
                  My role: Code: module Coupon, Promotion, FlashSale, Activity. MVC, ASP .Net Core.
                </p>
                <p>(Team size: 5 persons)</p>
                <p class="sshow" >Demo website.</p>
                 <p class="shide" ><a href="https://zenbooks.vn/home" target="_blank">The website is similar to this.</a></p> 
              </div>
              <!-- Project  -->
              
              <!-- Project  -->
              <div class="resume-item">
                <h4>E-commerce USA Underwear</h4>
                <h5>(Opencart From 08/2021 to 09/2021)</h5>
                <p><em> Developing the e commerce USA underwear.</em></p>
                <p>
                  My role:Code module: pre-order, coupon, payment online, Customize structure of OpenCart, Php.
                </p>
                <p>(Team size: 2 persons)</p>
                <p class="sshow" >Demo website.</p>
                <p class="shide" ><a href="https://classicardour.com/" target="_blank">The website is similar to this.</a></p>
              </div>
              <!-- Project  -->
              
              
              <!-- Project  -->
              <div class="resume-item">
                <h4>Convert Library to Jquery</h4>
                <h5>(Jquery From 07/2021 to 08/2021)</h5>
                <p><em> Converting from Inputman JS library to Jquery Library (Japanese customer).</em></p>
                <p>
                  My role: Validate input fields ( numeric - decimal - symbol - hiragana - katakana ), Validate base on code structure. Jquery.
                </p>
                <p>(Team size: 6 persons)</p>
                <p class="sshow" >Demo website.</p>
                <p class="shide" ><a href="https://docs.grapecity.com/help/inputman-js/#InputManJS.html/" target="_blank">This is inputman-js.</a></p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>Tour Booking</h4>
                <h5>(Opencart From 01/2021 to 06/2021)</h5>
                <p><em> Developing the website to book tours, online payment.</em></p>
                <p>
                  My role: Code module book tour, admin site, payment online, tour management, Responsive design for mobile, desktop and tablet, Analyze customer requirements, Database design. Php.
                </p>
                <p>(Team size: 3 persons)</p>
                <p class="sshow" >Demo website.</p>
                <p class="shide" ><a href="https://tourphuquoc.vn/" target="_blank">The website is similar to this.</a></p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
               <div class="resume-item">
                <h4>E-commerce Japan comestic</h4>
                <h5>(Opencart From 01/2021 to 04/2021)</h5>
                <p><em> Developing the e commerce Japan comestic.(Japanese/Vietnamese customer).</em></p>
                <p>
                  My role:Code module: area, warehouse management, multi language ( Vi, Ja, En ), payment online, Customize structure of OpenCart, Php.
                </p>
                <p>(Team size: 3 persons)</p>
                <p class="sshow" >Demo website.</p>
                <p class="shide" ><a href="https://nucos.jp/" target="_blank">The website is similar to this.</a></p>
              </div>
              <!-- Project  -->
              
            </div>
            <div class="col-lg-4">
              <h3 class="resume-title">2020</h3>
              <!-- Project  -->
              <div class="resume-item">
                <h4>Oxwall</h4>
                <h5>(Oxwall From 10/2020 to 12/2020)</h5>
                <p><em>Plugin Project manage many student groups.</em></p>
                <p>
                  My role:Analyze customer requirements, Database design, Code module manage and evaluate students, php.
                </p>
                <p>(Team size: 2 persons)</p>
                <p class="sshow" >Demo website.</p>
                <p class="shide" ><a href="https://demo.oxwall.com/" target="_blank">The website is similar to this.</a></p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>Zoom Booking</h4>
                <h5>(Laravel From 03/2020 to 09/2020)</h5>
                <p><em>Developing the website to booking meeting schedule using Zoom API (Japanese customer).</em></p>
                <p>
                  My role:Code module booking meeting schedule by fullcalendar, Laravel 7.
                </p>
                <p>(Team size: 6 persons)</p>
                <p class="sshow" >Demo website.</p>
                <p class="shide" ><a href="https://v-meet.jp/" target="_blank">The website is similar to this.</a></p>
              </div>
              <!-- Project  -->
              
            </div>
            
          </div>
        </div>
      </section>
      <!-- ======= Skills Section ======= -->
      <section id="pro" class="experience section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 id="h2pro">Programming Experience</h2>
          </div>
          <div class="row experience-content justify-content-md-center">
            <div class="col-lg-8 col-sm-8">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Job</th>
                    <th scope="col">Years</th>
                    <th scope="col">Months</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>C# ASP .NET Core</td>
                    <td>0</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>JavaScript</td>
                    <td>1</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>HTML</td>
                    <td>1</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>CSS</td>
                    <td>1</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>PHP (CMS OpenCart)</td>
                    <td>1</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>PHP (Laravel)</td>
                    <td>0</td>
                    <td>9</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>NuxtJS</td>
                    <td>0</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Android</td>
                    <td>0</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Requirements</td>
                    <td>0</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>Fix bugs</td>
                    <td>0</td>
                    <td>6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 id="h2skill">Skills</h2>
          </div>
          <div class="row skills-content justify-content-md-center">
            <div class="col-lg-6">
              <div class="progress">
                <span class="skill"><i class="fas fa-dumbbell"></i>Try Hard <i class="val">5/5</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"><i class="fab fa-searchengin"></i>Research <i class="val">4/5</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"><i class="fas fa-language"></i>Language <i class="val">3/5</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"><i class="fas fa-users"></i>Teamwork <i class="val">5/5</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"><i class="fas fa-shipping-fast"></i>Agility <i class="val">4/5</i></span>
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->
     
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 id="h2contact">Contact</h2>
          </div>

          <div class="row mt-1">
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4 id="h4location">Location:</h4>
                  <p>Binh Thanh District, Ho Chi Minh City, VietNam</p>
                </div>

                <div class="email">
                  <a href="mailto:bubugihu@gmail.com">
                    <i class="bi bi-envelope"></i
                  ></a>
                  <h4>Email:</h4>
                  <p>bubugihu@gmail.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4 id="h4call" >Call:</h4>
                  <p>(+84) 0934 093 001</p>
                </div>
              </div>
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d979.8066353580913!2d106.70173192921293!3d10.793953699519362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b5d1af16e3%3A0x48326719f4366e08!2zMjM3LTIzNSBI4bq7bSA4MCBQaGFuIFbEg24gSMOibiwgUGjGsOG7nW5nIDE3LCBCw6xuaCBUaOG6oW5oLCBUaMOgbmggcGjhu5EgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1639736131179!5m2!1svi!2s"
                width="600"
                height="300"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>Bubugihu</h3>
        <p>
          To be successful, i always have to try it again every day, today is not
          enough, i have to work harder for tomorrow.
        </p>
        <div class="social-links">
          <a  class="twitter"
            ><i class="bx bxl-twitter"></i
          ></a>
          <a href="https://www.facebook.com/bungbu.bu.75/" target="_blank" class="facebook"
            ><i class="bx bxl-facebook"></i
          ></a>
          <a href="mailto:bubugihu@gmail.com" class="gmail"
            ><i class="bx bx-envelope"></i
          ></a>
          <a  class="github"
            ><i class="bx bxl-github"></i
          ></a>
          <a  class="linkedin"
            ><i class="bx bxl-linkedin"></i
          ></a>
        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>Bubugihu</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: [license-url] -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
          Designed by <a href="https://buigiahung.com/">Resume</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Only Recruiters can see</h5>
        
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input type="text" class="form-control" id="recipient-name" value="pass">
            <span class="errorPass" style="color:red; display:none">Invalid</span>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="classmodal" >Close</button>
        <button type="button" id="submitpass" >Submit</button>
      </div>
    </div>
  </div>
</div>


<div id="pavpopup_a1" data-id="a1" style="display: none!important;" data-time-close="7" data-time-open="4" data-text-close="" data-display="alway_show_time">
  <div class="pavpopup-inner white-popup" style="position: relative; padding: 20px;width: auto;max-width: 1200px; margin: 20px auto;">
      <div class="popup-content-top">
          <!--{% if heading_title is not empty %}-->
          <!--<h2 class="text-white">{{ heading_title }}</h2>-->
          <!--{% endif %}-->
          <!--{% if html is not empty %}-->
         <div class="popup-content"><p style="text-align: center;"><img src="https://buigiahung.com/assets/img/abc.gif" style="width: 50%;"><br></p></div>
          <!--{% endif %}-->
      </div>  
      <div class="popup-timmer"></div>
   </div> 
</div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://shopmexuba.online/catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vn.js"></script>
    <script src="assets/js/en.js"></script>
    <script src="assets/js/pass.js"></script>
    <script src="assets/js/pavpopup.js"></script>
   <script>
       $( document ).ready(function() {
           
            $('#mt5').on('click',function(){
                if($(this).attr('data-click-state') == 1) {
                    $(this).attr('data-click-state', 0);
                    $('link[href="assets/css/stylemode.css?v=4"]').attr('href','assets/css/style.css?v=3');
                    var vn = changeEN();
                    
                    
                }
                else {
                  $(this).attr('data-click-state', 1);
                  $('link[href="assets/css/style.css?v=3"]').attr('href','assets/css/stylemode.css?v=4');
                  var vn = changeVN();
                }
            });
        });
   </script>
   <script type="text/javascript">
// $(".popup-content-module .inner").removeClass()
$("#pavpopup_a1").pavoPopup().work();

</script>
  </body>
</html>

