<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>PhungVanThuc - Profile</title>
    <meta content="My name is Thuc" name="description" />
    <meta content="thucphung, Phùng Văn Thực" name="keywords" />
    <link rel="canonical" href="https://thucphungvan.com/" />
    <meta
      property="og:title"
      content="Phùng Văn Thực - Game Developer Unity C#"
    />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="https://thucphungvan.com/" />
    <meta property="og:description" content="Game Developer Unity C#" />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:height" content="300" />
    <!-- Favicons -->
    <link href="assets/img/fav3.png" rel="icon" />
    <link href="assets/img/fav3.png" rel="logo-touch-icon" />

    <!-- Google Fonts -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/JNKKKK/MoreToggles.css@0.2.1/output/moretoggles.min.css"
    />
    <!-- Template Main CSS File -->
    <link href="assets/css/stylemode.css?v=4" rel="stylesheet" />
    <link href="assets/css/style.css?v=3" rel="stylesheet" />

    <style>
      .btn-close i::before {
        color: red !important;
      }
      .btn-close {
        color: #000;
      }
      .heading2,
      .text-white,
      .mfp-close-btn-in .mfp-close {
        color: #fff !important;
      }
      .mfp-close-btn-in .mfp-close {
        font-size: 50px;
      }

      .white-popup {
        animation: open 2s;
      }

      .mfp-removing {
        animation: close 1s;
      }

      @keyframes open {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      @keyframes close {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-Q1QP89J75T"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-Q1QP89J75T");
    </script>

     <!-- Minified and CDN links for faster delivery -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous" />
     <!-- Optimize loading of external JS with async -->
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q1QP89J75T"></script>
     <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'G-Q1QP89J75T');
     </script>
  </head>

  <body>
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">
      <nav id="navbar" class="navbar nav-menu">
        <ul>
          <li>
            <a href="#hero" class="nav-link scrollto active"
              ><i class="bx bx-home"></i> <span id="spanhome">Home</span></a
            >
          </li>
          <li>
            <a href="#about" class="nav-link scrollto"
              ><i class="bx bx-user"></i> <span id="spanabout">About</span></a
            >
          </li>

          <li>
            <a href="#resume" class="nav-link scrollto"
              ><i class="bx bx-file-blank"></i>
              <span id="spanwork">Work Experience</span></a
            >
          </li>
          <li>
            <a href="#pro" class="nav-link scrollto"
              ><i class="bx bx-code-curly"></i>
              <span id="spanpro">Programming Experience</span></a
            >
          </li>
          <li>
            <a href="#skills" class="nav-link scrollto">
              <i class="bx bx-book-content"></i>
              <span id="spanskill">Skills</span></a
            >
          </li>
          <li>
            <a href="#contact" class="nav-link scrollto"
              ><i class="bx bx-envelope"></i>
              <span id="spancontact">Contact</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex flex-column justify-content-center">
      <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Phùng Văn Thực</h1>
        <p>
          I'm
          <span class="typed" data-typed-items=",A Game Developer"></span>
        </p>
        <div class="social-links">
          <a class="twitter"><i class="bx bxl-twitter"></i></a>
          <a
            href="https://www.facebook.com/thuc.phung.7528"
            target="_blank"
            class="facebook"
            ><i class="bx bxl-facebook"></i
          ></a>
          <a href="https://github.com/phungthuc" class="github"
            ><i class="bx bxl-github"></i
          ></a>
          <a href="mailto:phungthuc39@gmail.com" class="google-mail"
            ><i class="bx bx-envelope"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/th%E1%BB%B1c-ph%C3%B9ng-95268b20a/"
            class="linkedin"
            ><iq class="bx bxl-linkedin"></iq
          ></a>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <!-- Default switch -->
            <div class="mt-android-violet">
              <input id="mt5" type="checkbox" />
              <label for="mt5"></label>
            </div>

            <h2 id="h2about">About</h2>
            <p>"Hi! I'm Game Developer!!"</p>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <img src="assets/img/thuc.jpg" class="img-fluid" alt="" loading="lazy" />
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
              <h3>Game Developer.</h3>
              <!-- <p class="fst-italic">
                Text...
              </p> -->
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="fullname">Full Name:</strong>
                      <span>Phùng Văn Thực</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="birthday">Birthday:</strong>
                      <span>01- 02 - 2003</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="website">Website:</strong>
                      <a href="https://phungthuc.github.io/profile_web/">
                        <span>https://thucphungvan.com/</span></a
                      >
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="phone">Phone:</strong>
                      <span>(+84) 0347 179 033</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="city">City:</strong>
                      <span>Da Nang City, VietNam</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="status">Marital Status:</strong>
                      <span>Single</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <strong id="degree">Current Job:</strong>
                      <span>Purus Games Studio (2024 - Now)</span>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <strong id="career">Career Objective:</strong>
                  <ul>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <span>Make a production about my daily routine.</span>
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <span
                        >Make me better by clean code, high performance.</span
                      >
                    </li>
                    <li>
                      <i class="bi bi-chevron-right"></i>
                      <span>Always learning new technology.</span>
                    </li>
                  </ul>
                </div>
              </div>
              <div style="margin-top: 20px">
                <form method="get" action="" download="">
                  <button id="download" type="submit">Download CV</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Resume Section ======= -->
      <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 id="h2work">Work Experience</h2>
            <h3>ABI Games Studio (06/2023 - 03/2024)</h3>
            <h4>Unity Games</h4>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <h3 class="resume-title">Unity Games</h3>
              <!-- Project  -->
              <div class="resume-item">
                <h4>Cat Quest: Kitty Simulator 3D Game</h4>
                <h5>(Unity From 08/2023 to 09/2023)</h5>
                <p>
                  <em>Developing the Cat Quest: Kitty Simulator 3D Game.</em>
                </p>
                <p>
                  My role: Code module: UI Game, Customize structure of User
                  Interface, Unity, C#.
                </p>
                <p>(Team size: 9 persons)</p>
                <!--<p><a href="http://shoesmvnd.somee.com/">The website is similar to this.</a></p>-->
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>Animal Quest: 3D Simulation Game</h4>
                <h5>(Unity From 10/2023 to 12/2023)</h5>
                <p>
                  <em> Developing the Animal Quest: 3D Simulation Game.</em>
                </p>
                <p>
                  My role: Code module: UI Game, Game Play, Customize structure
                  of Interface and User Experience, Unity, C#.
                </p>
                <p>
                  Download: > 100K (Google Play)
                </p>
                <p>(Team size: 5 persons)</p>
                <p>
                  <a
                    href="https://play.google.com/store/apps/details?id=com.abi.animal.simulation"
                    target="_blank"
                    >Game link on Android.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
            </div>
            <div class="col-lg-4">
              <h3 class="resume-title">Unity Games</h3>
              <!-- Project  -->
              <div class="resume-item">
                <h4>Text in Car - Driving Master Game</h4>
                <h5>(Unity From 12/2023 to 01/2024)</h5>
                <p>
                  <em>Developing the Text in Car - Driving Master Game.</em>
                </p>
                <p>
                  My role: Code module: UI Game, Game Play, Customize structure
                  of Interface and User Experience, Unity, C#.
                </p>
                <p>
                  Download: > 1M (Google Play)
                </p>
                <p>(Team size: 5 persons)</p>
                <p>
                  <a
                    href="https://play.google.com/store/apps/details?id=com.abi.taxi"
                    target="_blank"
                    >Game link on Android.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>Car Drift - Car Master Game</h4>
                <h5>(Unity From 01/2024 to 02/2024)</h5>
                <p>
                  <em>Developing the Car Drift - Car Master Game.</em>
                </p>
                <p>
                  My role: Code module: UI Game, Game Play, Customize structure
                  of Interface and User Experience, Unity, C#.
                </p>
                <p>
                  Download: > 1M (Google Play)
                </p>
                <p>(Team size: 5 persons)</p>
                <p>
                  <a
                    href="https://play.google.com/store/apps/details?id=com.abi.crazyparking"
                    target="_blank"
                    >Game link on Android.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
            </div>
          </div>
          
          <div class="section-title">
            <br>
            <h3>Purus Games (03/2024 - Now)</h3>
            <h4>H5 Games / Unity Games</h4>
          </div>

          <div class="row">  
            <div class="col-lg-4">
              <h3 class="resume-title">H5 Games - PIXI JS</h3>
              <!-- Project  -->
              <div class="resume-item">
                <h4>Water Sort Puzzle Game</h4>
                <h5>(PixiJs From 03/2024 to 04/2024)</h5>
                <p>
                  <em>Developing the Water Sort Puzzle Game: PixiJs 2D Game.</em>
                </p>
                <p>
                  My role: Code module: Update UI Game, Improve Game Play from old version, PixiJs, JavaScript.
                </p>
                <p>(Team size: 1 persons)</p>
                <p>
                  <a
                    href="https://purus-water-sort-puzzle.web.app/"
                    target="_blank"
                    >Game link deployed on Firebase Hosting.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>Tile Match Puzzle Game</h4>
                <h5>(PixiJs From 04/2024 to 05/2024)</h5>
                <p>
                  <em>Developing the Tile Match Puzzle Game: PixiJs 2D Game.</em>
                </p>
                <p>
                  My role: Code module: Update UI Game, Improve Game Play from old version, PixiJs, JavaScript.
                </p>
                <p>(Team size: 1 persons)</p>
                <p>
                  <a
                    href="https://purus-tile-match.web.app/"
                    target="_blank"
                    >Game link deployed on Firebase Hosting.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>Jewel Block Puzzle Game</h4>
                <h5>(PixiJs From 04/2024 to 05/2024)</h5>
                <p>
                  <em>Developing the Jewel Block Puzzle Game: PixiJs 2D Game.</em>
                </p>
                <p>
                  My role: Code module: Update UI Game, Improve Game Play from old version, PixiJs, JavaScript.
                </p>
                <p>(Team size: 1 persons)</p>
                <p>
                  <a
                    href="https://purus-jewel-block-puzzle.web.app/"
                    target="_blank"
                    >Game link deployed on Firebase Hosting.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
            </div>

            <div class="col-lg-4">
              <h3 class="resume-title">H5 Games - PlayCanvas</h3>
              <!-- Project  -->
              <div class="resume-item">
                <h4>Dino Dash Game</h4>
                <h5>(PlayCanvas From 05/2024 to 06/2024)</h5>
                <p>
                  <em>Developing the Dino Dash Game: PlayCanvas 3D Game.</em>
                </p>
                <p>
                  My role: Code module: UI/UX Game, Game Play, Customize structure 
                  of User Interface, Localization, API handling, Firebase configuration, PlayCanvas, TypeScript.
                </p>
                <p>(Team size: 5 persons)</p>
                <p>
                  <a
                    href="https://lagged.com/en/g/dino-dash"
                    target="_blank"
                    >Game link on Lagged.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>Super Bowl Game</h4>
                <h5>(PlayCanvas From 06/2024 to 07/2024)</h5>
                <p>
                  <em>Developing the Super Bowl Game: PlayCanvas 3D Game.</em>
                </p>
                <p>
                  My role: Code module: UI/UX Game, Game Play, Customize structure 
                  of User Interface, Localization, API handling, Firebase configuration, PlayCanvas, TypeScript.
                </p>
                <p>(Team size: 6 persons)</p>
                <p>
                  <a
                    href="https://lagged.com/vn/p/super-bowl"
                    target="_blank"
                    >Game link on Lagged.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
              <div class="resume-item">
                <h4>Traffic Run Game</h4>
                <h5>(PlayCanvas From 07/2024 to 08/2024)</h5>
                <p>
                  <em>Developing the Super Bowl Game: PlayCanvas 3D Game.</em>
                </p>
                <p>
                  My role: Code module: UI/UX Game, Game Play, Customize structure 
                  of User Interface, Localization, API handling, Firebase configuration, PlayCanvas, TypeScript.
                </p>
                <p>(Team size: 5 persons)</p>
                <p>
                  <a
                    href="https://lagged.com/vn/p/super-bowl"
                    target="_blank"
                    >Game link on Lagged.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
            </div>

            <div class="col-lg-4">
              <h3 class="resume-title">H5 Games - Playable Ads</h3>
              <!-- Project  -->
              <div class="resume-item">
                <h4>Alien Invasion Game</h4>
                <h5>(PlayCanvas From 08/2024 to 09/2024)</h5>
                <p>
                  <em>Developing the Alien Invasion Game: PlayCanvas 3D Game.</em>
                </p>
                <p>
                  My role: Code module: UI/UX Game, Game Play, Customize structure 
                  of User Interface, API handling, Firebase configuration, PlayCanvas.
                </p>
                <p>(Team size: 5 persons)</p>
                <p>
                  <a
                    href="https://apps.apple.com/us/app/alien-invasion-rpg-idle-space/id6443697602"
                    target="_blank"
                    >Original game link on IOS.</a
                  >
                </br>
                  <a
                    href="https://play.google.com/store/apps/details?id=com.multicastgames.venomSurvive"
                    target="_blank"
                    >Original game link on Android.</a
                  >
                </p>
              </div>
              <!-- Project  -->
              <!-- Project  -->
            </div>
          </div>
        </div>
      </section>
      <!-- ======= Skills Section ======= -->
      <section id="pro" class="experience section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 id="h2pro">Programming Experience</h2>
          </div>
          <div class="row experience-content justify-content-md-center">
            <div class="col-lg-8 col-sm-8">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Job</th>
                    <th scope="col">Years</th>
                    <th scope="col">Months</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>C#</td>
                    <td>1</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Unity</td>
                    <td>1</td>
                    <td>0</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>PlayCanvas</td>
                    <td>0</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>PixiJs</td>
                    <td>1</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>JavaScript</td>
                    <td>1</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>TypeScript</td>
                    <td>0</td>
                    <td>6</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Game Designer</td>
                    <td>1</td>
                    <td>6</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 id="h2skill">Skills</h2>
          </div>
          <div class="row skills-content justify-content-md-center">
            <div class="col-lg-6">
              <div class="progress">
                <span class="skill"
                  ><i class="fas fa-dumbbell"></i>Try Hard
                  <i class="val">5/5</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"
                  ><i class="fab fa-searchengin"></i>Research
                  <i class="val">4/5</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"
                  ><i class="fas fa-language"></i>Language
                  <i class="val">3/5</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="60"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"
                  ><i class="fas fa-users"></i>Teamwork
                  <i class="val">5/5</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
              <div class="progress">
                <span class="skill"
                  ><i class="fas fa-shipping-fast"></i>Agility
                  <i class="val">4/5</i></span
                >
                <div class="progress-bar-wrap">
                  <div
                    class="progress-bar"
                    role="progressbar"
                    aria-valuenow="80"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Skills Section -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2 id="h2contact">Contact</h2>
          </div>

          <div class="row mt-1">
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4 id="h4location">Location:</h4>
                  <p>Son Tra District, Da Nang City, VietNam</p>
                </div>

                <div class="email">
                  <a href="mailto:phungthuc39@gmail.com">
                    <i class="bi bi-envelope"></i
                  ></a>
                  <h4>Email:</h4>
                  <p>phungthuc39@gmail.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4 id="h4call">Call:</h4>
                  <p>(+84) 0347 179 033</p>
                </div>
              </div>
            </div>

            <div class="col-lg-8 mt-5 mt-lg-0">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d986.6313347256028!2d108.23542109751229!3d16.05638277058895!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219d67ad33ed1%3A0xeeab6d777f41b341!2sChung%20c%C6%B0%20Blue%20House%20An%20Trung!5e0!3m2!1svi!2s!4v1704609617726!5m2!1svi!2s"
                width="600"
                height="450"
                style="border: 0"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="container">
        <h3>ThucPhung</h3>
        <p>
          To be successful, i always have to try it again every day, today is
          not enough, i have to work harder for tomorrow.
        </p>
        <div class="social-links">
          <a class="twitter"><i class="bx bxl-twitter"></i></a>
          
          <a href="https://www.facebook.com/thuc.phung.7528"
            target="_blank" class="facebook">
            <i class="bx bxl-facebook"></i>
          </a>

          <a href="mailto:phungthuc39@gmail.com"
            target="_blank" class="gmail">
            <i class="bx bx-envelope"></i>
          </a>

          <a href="https://github.com/phungthuc"
            target="_blank" class="github">
            <i class="bx bxl-github"></i>
          </a>

          <a href="https://www.linkedin.com/in/th%E1%BB%B1c-ph%C3%B9ng-95268b20a/"
            target="_blank" class="linkedin">
            <i class="bx bxl-linkedin"></i>
          </a>

        </div>
        <div class="copyright">
          &copy; Copyright <strong><span>ThucPhung</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: [license-url] -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
          Designed by <a href="https://thucphungvan.com/">Resume</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Only Recruiters can see
            </h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >Password:</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="recipient-name"
                  value="pass"
                />
                <span class="errorPass" style="color: red; display: none"
                  >Invalid</span
                >
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="classmodal">Close</button>
            <button type="button" id="submitpass">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div
      id="pavpopup_a1"
      data-id="a1"
      style="display: none !important"
      data-time-close="7"
      data-time-open="4"
      data-text-close=""
      data-display="alway_show_time"
    >
      <div
        class="pavpopup-inner white-popup"
        style="
          position: relative;
          padding: 20px;
          width: auto;
          max-width: 1200px;
          margin: 20px auto;
        "
      >
        <div class="popup-content-top">
          <!--{% if heading_title is not empty %}-->
          <!--<h2 class="text-white">{{ heading_title }}</h2>-->
          <!--{% endif %}-->
          <!--{% if html is not empty %}-->
          <div class="popup-content">
            <p style="text-align: center">
              <img src="" style="width: 50%" /><br />
            </p>
          </div>
          <!--{% endif %}-->
        </div>
        <div class="popup-timmer"></div>
      </div>
    </div>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/purecounter/purecounter.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/typed.js/typed.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vn.js"></script>
    <script src="assets/js/en.js"></script>
    <script src="assets/js/pass.js"></script>
    <script src="assets/js/pavpopup.js"></script>
    <script>
      $(document).ready(function () {
        $("#mt5").on("click", function () {
          if ($(this).attr("data-click-state") == 1) {
            $(this).attr("data-click-state", 0);
            $('link[href="assets/css/stylemode.css?v=4"]').attr(
              "href",
              "assets/css/style.css?v=3"
            );
            var vn = changeEN();
          } else {
            $(this).attr("data-click-state", 1);
            $('link[href="assets/css/style.css?v=3"]').attr(
              "href",
              "assets/css/stylemode.css?v=4"
            );
            var vn = changeVN();
          }
        });
      });
    </script>
    <script type="text/javascript">
      // $(".popup-content-module .inner").removeClass()
      $("#pavpopup_a1").pavoPopup().work();
    </script>
  </body>
</html>
