
.contact-info-area{
    position: relative;
    display: block;
    padding-top: 150px;
    padding-bottom: 120px;
    z-index: 10;
}
.contact-info-area .shape1{
    position: absolute;
    top: -550px;
    right: -100px;    
}

.single-contact-info-box{
    position: relative;
    display: block;
    text-align: center;
    padding: 0px 0 47px;
    margin-bottom: 30px;
    z-index: 2;
}
.single-contact-info-box:before{
    content: "";
    position: absolute;
    top: 50px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 50px 0px rgba(26, 46, 85, 0.1);
}
.single-contact-info-box .icon{
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    background: var(--thm-base);
    border-radius: 50%;
    margin: 0 auto;
    z-index: 1;
}
.single-contact-info-box .icon span::before {
    position: relative;
    display: block;
    color: #ffffff;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
}
.single-contact-info-box .text{
    position: relative;
    display: block;
    padding-top: 44px;
}
.single-contact-info-box .text h4{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.single-contact-info-box .text p{
    font-size: 15px;
    margin: 0;
}
.single-contact-info-box .text p a{
    color: var(--thm-gray);
}
.single-contact-info-box .text p a:hover{
    color: var(--thm-base);
}





/*** 
=============================================
    Contact Form Area Css
=============================================
***/
.main-contact-form-area {
    position: relative;
    display: block;
    background: #ffffff;
    padding: 0px 0 150px;
}

.contact-style1_form {
    position: relative;
    display: block;
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    z-index: 11;
}
.contact-form {
    position: relative;
    display: block;
}
.contact-form form{
    position: relative;
    display: block;
}
.contact-form form .input-box{
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea{
    position: relative;
    display: block;   
    background: #ffffff;
    width: 100%;
    height: 55px;
    border: 1px solid #e5e5e5;
    color: #808080;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 10px;
    transition: all 500ms ease;
    font-family: var(--thm-font);
}
.contact-form form textarea {
    height: 150px;
    padding-top: 12px;
    padding-left: 25px;
    border-radius: 25px;
    border-radius: 10px;
}

.contact-form form input[type="text"]::-webkit-input-placeholder {
    color: #808080;
}
.contact-form form input[type="text"]:-moz-placeholder {
    color: #808080;
}
.contact-form form input[type="text"]::-moz-placeholder {
    color: #808080;
}
.contact-form form input[type="text"]:-ms-input-placeholder {
    color: #808080;
}
.contact-form form input[type="email"]::-webkit-input-placeholder {
    color: #808080;
}
.contact-form form input[type="email"]:-moz-placeholder {
    color: #808080;
}
.contact-form form input[type="email"]::-moz-placeholder {
    color: #808080;
}
.contact-form form input[type="email"]:-ms-input-placeholder {
    color: #808080;
}
.contact-form form textarea::-webkit-input-placeholder {
    color: #808080;
}
.contact-form form textarea:-moz-placeholder {
    color: #808080;
}
.contact-form form textarea::-moz-placeholder {
    color: #808080;
}
.contact-form form textarea:-ms-input-placeholder {
    color: #808080;
}

.contact-form form .button-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-form form .button-box button{
    position: relative;
    display: block;
}







/*** 
=============================================
    Google Map Area Css
=============================================
***/
.google-map-area{
    position: relative;
    display: block;
    padding-bottom: 0px;
}
.google-map-area .container-fluid{
    padding: 0;
}
.contact-page-map-outer{
    position: relative;
    display: block;
    z-index: 10;
}
.contact-page-map-outer .map-canvas{
	position: relative;
	width: 100%;
	height: 500px;    
}








