



/*==============================================
    Main Header Css        
===============================================*/
.main-header {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
    margin: 0px;
	z-index: 999;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
}
.sticky-header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0px 0px;
    background: rgba(255, 255, 255, 0.98);
	opacity: 0;
    visibility: hidden;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	z-index: 0;
}
.fixed-header .sticky-header {
	visibility: visible;
	-ms-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-op-animation-name: fadeInDown;
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-ms-animation-duration: 500ms;
	-moz-animation-duration: 500ms;
	-op-animation-duration: 500ms;
	-webkit-animation-duration: 500ms;
	animation-duration: 500ms;
	-ms-animation-timing-function: linear;
	-moz-animation-timing-function: linear;
	-op-animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-ms-animation-iteration-count: 1;
	-moz-animation-iteration-count: 1;
	-op-animation-iteration-count: 1;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
	opacity: 1;
	z-index: 999999;
}
.sticky-header .logo {
    position: relative;
    display: block;
    padding: 23px 0 24px;
}
.sticky-header .logo a{
    position: relative;
    display: inline-block;
}
.sticky-header .main-menu .navigation> li {
    margin-right: 35px;
}
.sticky-header .main-menu .navigation> li> a {
    padding: 10px 0px 0px;
}
.sticky-header .main-menu .navigation>li:hover>a,
.sticky-header .main-menu .navigation>li.current>a{
    color: var(--thm-base);
}
.sticky-header .main-menu .navigation>li>a span:before {
    display: none;
}
.sticky-header .main-menu .navigation>li>a:before {
    display: none;
}



.header-style-one {
    position: relative;;
}


.header-top {
    position: relative;
    display: block;
    background: #051320;
    padding: 10px 0;
    overflow: hidden;
    z-index: 10;
}
.header-top .auto-container{
    max-width: 1650px;
    padding: 0 15px;
}
.header-top .outer-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.header-top__left{
    position: relative;
    display: flex;
}
.header-contact-info{
    position: relative;
    display: block;
}
.header-contact-info ul{
    overflow: hidden;
}
.header-contact-info ul li {
    position: relative;
    display: flex;
    align-items: center;
    float: left;
    padding-right: 26px;
    margin-right: 25px;
    color: #ffffff;
    font-size: 15px;
}
.header-contact-info ul li:last-child{
    padding-right: 0;
    margin-right: 0;
}
.header-contact-info ul li:before{
    content: "";
    position: absolute;
    top: 4px;
    right: 0;
    bottom: 4px;
    width: 1px;
    background: #ffffff;
    opacity: 0.20;
}
.header-contact-info ul li:last-child:before{
    display: none;
}
.header-contact-info ul li .icon {
    width: 25px;
    line-height: 20px;
}
.header-contact-info ul li .icon span:before{
    position: relative;
    display: inline-block;
    top: 1px;
    color: var(--thm-base);
    font-size: 15px;
}
.header-contact-info ul li .text{
    position: relative;
    display: block;
}
.header-contact-info ul li .text h6{
    color: #fff;
    font-size: 15px; 
    font-weight: 400;   
}
.header-contact-info ul li .text h6 a{
    color: #fff;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    transition: all 0.4s linear;        
}
.header-contact-info ul li .text h6 a:hover{
    color: var(--thm-base);
}


.header-top__right{
    position: relative;
    display: flex;
    align-items: center;    
}
.header-social-link{
    position: relative;
    display: flex;
    align-items: center;
}
.header-social-link .social-link{
    position: relative;
    display: block;
}
.header-social-link .social-link ul{
    overflow: hidden;
}
.header-social-link .social-link ul li{
    position: relative;
    display: block;
    float: left;
    margin-right: 30px;
    line-height: 30px;
}
.header-social-link .social-link ul li:last-child{
    margin-right: 0;
}
.header-social-link .social-link ul li a{
    color: #93969b;
    font-size: 15px;
    transition: all 200ms linear;
    transition-delay: 0.1s; 
}
.header-social-link .social-link ul li a:hover{
    color: var(--thm-base);
}

.thm-space-box{
    position: relative;
    display: block;
    width: 61px;
    height: 16px;
}
.thm-space-box:before{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    left: 50%;
    background: #ffffff;
    opacity: 0.20;
    content: "";
}

.signin-box{
    position: relative;
    display: block;
}
.signin-box a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    transition: all 200ms linear;
    transition-delay: 0.1s; 
}
.signin-box a span:before {
    position: relative;
    top: 2px;
    display: inline-block;
    padding-right: 3px;
    color: var(--thm-base);
}
.signin-box a:hover{
    color: var(--thm-base);
}


.header {
    position: relative;
    display: block;
    padding-top: 10px;
    background: #ffffff;
    z-index: 10;
}
.header-shape-bg {
    position: absolute;
    left: 0;
    bottom: -77px;
    right: 0;
    height: 197px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
}
.header .auto-container{
    max-width: 1650px;
    padding: 0 15px;
}
.header .outer-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header-left {
    position: relative;
    display: block;
}
.header-left .logo {
    position: relative;
    display: block;
}
.header-left .logo a{
    position: relative;
    display: inline-block;
}


.header-middle {
    position: relative;
    display: block;
}
.header-middle .nav-outer {
    position: relative;
    display: block;
    float: left;
    z-index: 2;
}

.main-menu.style1{}
.main-menu {
    position: relative;
    display: block;
    float: left;
}
.main-menu .navbar-collapse{
	padding:0px;
	display:block !important;
}
.main-menu .navigation {
	position: inherit;
	display: block;
}
.main-menu .navigation> li {
    position: inherit;
    display: inline-block;
    float: left;
    margin-right: 40px;
}
.main-menu .navigation> li:last-child{
    margin-right: 0;
}
.main-menu .navigation>li>a {
    position: relative;
    display: block;
    padding: 10px 0px 0px;
    color: #051320;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 500ms ease;
    font-family: var(--thm-font);
    opacity: 1;
    z-index: 1;
}
.main-menu .navigation>li:hover>a,
.main-menu .navigation>li.current>a{
    color: var(--thm-base);
}
.main-menu .navigation>li.dropdown>a {
    padding-right: 15px;    
}
.main-menu .navigation>li.dropdown>a:after {
    position: absolute;
    right: 0px;
    font-family: Fontawesome;
    content: "\f107";
    font-size: 16px;
    font-weight: 100;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    z-index: 1;
}

.main-menu .navigation> li> ul {
	position: absolute;
	top: 90%;
    left: inherit;
	width: 250px;
	padding: 12px 0;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
	-moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
    transform: translateY(30px);
    transition:all 100ms ease;
	z-index: 100;
}
.main-menu .navigation> li> ul:before{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--thm-base);
    border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    z-index: -1;
}
.main-menu .navigation> li.dropdown:hover> ul{
	opacity:1;
	visibility:visible;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
    transform: translateY(0);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}
.main-menu .navigation> li> ul> li{
	position: relative;
    display: block;
    padding: 0 20px;
	width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    transition: all 200ms linear;
    transition-delay: 0.1s; 
}
.main-menu .navigation> li:hover> ul> li{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.main-menu .navigation> li > ul > li:nth-child(2n+1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.main-menu .navigation> li > ul > li:nth-child(2n+2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.main-menu .navigation> li > ul > li:nth-child(2n+3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.main-menu .navigation> li > ul > li:nth-child(2n+4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.main-menu .navigation> li > ul > li:nth-child(2n+5) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.main-menu .navigation> li > ul > li:nth-child(2n+6) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.main-menu .navigation> li > ul > li:nth-child(2n+7) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.main-menu .navigation> li > ul > li:nth-child(2n+8) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
.main-menu .navigation> li > ul > li:nth-child(2n+9) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}


.main-menu .navigation> li> ul> li> a {
	position: relative;
	display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
	padding: 13px 0px 13px;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	text-align: left;
	text-transform: capitalize;
	transition: all 500ms ease;
    letter-spacing: 0.03em;
    font-family: var(--thm-font);
}
.main-menu .navigation> li> ul> li:last-child> a{
    border: none;
} 
.main-menu .navigation> li> ul> li> a:before{
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 48px;
    color: #ffffff;
    transform: scaleX(0);
	transition: all 500ms ease;
}
.main-menu .navigation> li> ul> li:hover> a:before{
    transform: scaleX(1.0);
}
.main-menu .navigation> li> ul> li> a:hover{
    color: #f0ebeb; 
    padding-left: 15px; 
}
.main-menu .navigation> li> ul> li:hover > a {
    color: #f0ebeb; 
    padding-left: 15px; 
}
.main-menu .navigation> li> ul> li.dropdown a{}
.main-menu .navigation> li> ul> li.dropdown> a:after {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0;
    font-family: FontAwesome;
    content: "\f105";
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin: 12px 0;
    text-align: right;
    z-index: 5;
}



.main-menu .navigation> li> ul> li> ul {
	position: absolute;
	top: 0%;
	left: 100%;
	width: 250px;
	padding: 12px 0;
	display: none;
    border-left: 0px solid transparent;
    padding-left: 10px;
    border-radius: 10px;
    -moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
    transform: translateY(30px);
    transition:all 100ms ease;
	z-index: 100;
}
.main-menu .navigation> li> ul> li> ul:before{
    position: absolute;
    top: 0px;
    left: 10px;
    right: 0;
    height: 100%;
    content: '';
    background: var(--thm-base);
    border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    z-index: -1;
}
.main-menu .navigation li> ul> li.dropdown:hover ul {
	opacity:1;
	visibility:visible;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;	
}
.main-menu .navigation> li> ul> li> ul> li {
	position: relative;
    display: block;
    padding: 0 20px;
	width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    transition: all 200ms linear;
    transition-delay: 0.1s; 
}
.main-menu .navigation> li> ul> li:hover> ul> li{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.main-menu .navigation> li> ul> li> ul> li:nth-child(2n+1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.main-menu .navigation> li > ul > li > ul > li:nth-child(2n+2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.main-menu .navigation> li > ul > li > ul > li:nth-child(2n+3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.main-menu .navigation> li > ul > li > ul > li:nth-child(2n+4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.main-menu .navigation> li > ul > li > ul > li:nth-child(2n+5) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}


.main-menu .navigation> li> ul> li> ul> li> a {
	position: relative;
	display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
	padding: 13px 0px 13px;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	text-align: left;
	text-transform: capitalize;
	transition: all 500ms ease;
    letter-spacing: 0.03em;
    font-family: var(--thm-font);
}
.main-menu .navigation> li> ul> li> ul> li:last-child> a{
    border: none;
}
.main-menu .navigation> li> ul> li> ul> li> a:hover {
    color: #f0ebeb; 
    padding-left: 15px;
}
.main-menu .navigation> li> ul> li> ul> li> a:before{
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 48px;
    color: #f0ebeb;
    transform: scaleX(0);
	transition: all 500ms ease;
}
.main-menu .navigation> li> ul> li> ul> li:hover> a:before{
    transform: scaleX(1.0);
}





/** Megamenu Style **/
.main-menu .navigation> li> .megamenu {
	position: absolute;
	top: 90%;
    left: 0;
    width: 100%;
	padding: 20px 0;
    padding-right: 40px;
    opacity: 0;
    visibility: hidden;
    border-radius: 10px;
	-moz-transform: translateY(30px);
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	-o-transform: translateY(30px);
    transform: translateY(30px);
    transition:all 100ms ease;
	z-index: 100;
}
.main-menu .navigation> li> .megamenu .row{
    margin-right: 0px;
    margin-left: 0px;    
}
.main-menu .navigation> li> .megamenu .row [class*=col-] {
    padding-left: 0px;
    padding-right: 0px;
}
.main-menu .navigation> li> .megamenu:before{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: '';
    background: var(--thm-base);
    border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
    z-index: -1;
}
.main-menu .navigation> li.dropdown:hover .megamenu{
	opacity:1;
	visibility:visible;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
    transform: translateY(0);
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}
.main-menu .navigation> li> .megamenu li{
	position: relative;
    display: block;
    padding: 0 40px;
    padding-right: 0;
	width: 100%;
    opacity: 1;
    visibility: hidden;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    transition: all 200ms linear;
    transition-delay: 0.1s;     
}
.main-menu .navigation> li:hover .megamenu li{
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}


/*****
.main-menu .navigation> li> .megamenu li:nth-child(2n+1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.main-menu .navigation> li> .megamenu li:nth-child(2n+2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.main-menu .navigation> li> .megamenu li:nth-child(2n+3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.main-menu .navigation> li> .megamenu li:nth-child(2n+4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.main-menu .navigation> li> .megamenu li:nth-child(2n+5) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.main-menu .navigation> li> .megamenu li:nth-child(2n+6) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.main-menu .navigation> li> .megamenu li:nth-child(2n+7) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.main-menu .navigation> li> .megamenu li:nth-child(2n+8) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
.main-menu .navigation> li> .megamenu li:nth-child(2n+9) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
.main-menu .navigation> li> .megamenu li:nth-child(2n+10) {
    -webkit-transition-delay: 0.10s;
    transition-delay: 0.10s;
}
****/

.main-menu .navigation> li> .megamenu li> a {
	position: relative;
	display: block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
	padding: 13px 0px 13px;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	text-align: left;
	text-transform: capitalize;
	transition: all 500ms ease;
    letter-spacing: 0.03em;
    font-family: var(--thm-font);
}
.main-menu .navigation> li> .megamenu li:last-child a{
    border: none;
} 
.main-menu .navigation> li> .megamenu li> a:hover {
    color: #f0ebeb; 
    padding-left: 15px;
}
.main-menu .navigation> li> .megamenu li> a:before{
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    top: 2px;
    left: 0;
    bottom: 0;
    font-size: 18px;
    line-height: 48px;
    color: #f0ebeb;
    transform: scaleX(0);
	transition: all 500ms ease;
}
.main-menu .navigation> li> .megamenu li:hover> a:before{
    transform: scaleX(1.0);
}



.main-menu .navigation li.dropdown .megamenu li h4{
  font-weight: 500;
  padding: 3px 0px;
  color: #fff;
}
.main-menu .navbar-collapse>ul li.dropdown .dropdown-btn {
    position: absolute;
    right: 0px;
    top: 0;
    width: 50px;
    height: 42px;
    border-left: 1px solid #04102a;
    text-align: center;
    font-size: 16px;
    line-height: 42px;
    color: #ffffff;
    cursor: pointer;
    display: none;
    z-index: 5;
}







.header-right {
    position: relative;
    display: flex;
    align-items: center;
}
.thm-space-box-2{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
}
.header-right_buttom {
    position: relative;
    display: block;
}
.header-right_buttom .btns-box {
    position: relative;
    display: block;
    line-height: 0;
}



/*** 
=====================================================
	Main Header style Two Css
=====================================================
***/
.header-style-two {
   
}

.header-style2{
    position: relative;
    display: block;
    overflow: hidden;
    background: #ffffff;
}
.header-style2 .outer-box{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;    
}
.header-style2__left {
    position: relative;
    display: block;
    padding: 33px 0 34px;
}
.header-style2__left-bg {
    position: absolute;
    top: 0;
    left: -10000000px;
    bottom: 0;
    right: -75px;
    background: rgba(var(--thm-base-rgb), .10);
    transform: skewX(-25deg);
}
.header-style2__left .logo{
    position: relative;
    display: block;
}
.header-style2__left .logo a{
    display: inline-block;
}


.header-style2__right{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-contact-info--two{
    position: relative;
    display: block;
}
.header-contact-info--two ul{
    position: relative;
    display: block;
}
.header-contact-info--two ul li{
    position: relative;
    display: inline-block;
    float: left;
    padding-right: 30px;
    margin-right: 31px;
}
.header-contact-info--two ul li:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background: #e6eaef;
}
.header-contact-info--two ul li:last-child{
    margin-right: 0;
    padding-right: 0;
}
.header-contact-info--two ul li:last-child:before{
    display: none;
}
.header-contact-info--two ul li .inner{
    position: relative;
    display: block;
    padding-left: 45px;
}
.header-contact-info--two ul li .inner .icon{
    position: absolute;
    top: 3px;
    left: 0;
    width: 45px;
    height: 45px;
    border: 1px solid rgba(var(--thm-base-rgb), .90);
    border-radius: 50%;
    color: var(--thm-base);
    font-size: 18px;
    text-align: center;
    line-height: 43px;
    transition: all 200ms linear;
    transition-delay: 0.1s; 
}
.header-contact-info--two ul li:hover .inner .icon{
    color: #ffffff;
}
.header-contact-info--two ul li .inner .icon:before {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: rgba(var(--thm-base-rgb), .99);;
    content: "";
    border-radius: 50%;
    z-index: 1;
    transform: scale(0.0);
    transform-origin: center;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.62, 0.21, 0.45, 1.52);
}
.header-contact-info--two ul li:hover .inner .icon:before{
    transform: scaleX(1.0);     
}
.header-contact-info--two ul li .inner .icon span:before{
    position: relative;
    z-index: 3;
}

.header-contact-info--two ul li .inner .title{
    position: relative;
    display: block;
    padding-left: 20px;
}
.header-contact-info--two ul li .inner .title h5{
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    margin: 0 0 5px;
}
.header-contact-info--two ul li .inner .title a{
    color: #808080;
    font-size: 17px;
    transition: all 200ms linear;
    transition-delay: 0.1s; 
}
.header-contact-info--two ul li .inner .title a:hover{
    color: var(--thm-base);
}

.header-style2__right .btns-box{
    position: relative;
    display: block;
    line-height: 0;
    margin-left: 50px;
}


.header-bottom{
    position: relative;
    display: block;
    background: transparent;
}
.header-bottom .outer-box{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    background: #051320;
    padding-left: 30px;
    padding-right: 15px; 
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header-bottom__left {
    position: relative;
    display: block;
}
.main-menu.style2 .navigation> li {
    margin-right: 40px;
}
.main-menu.style2 .navigation> li:last-child {
    margin-right: 0px;
}
.main-menu.style2 .navigation>li>a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0px 20px;
}
.main-menu.style2 .navigation>li:hover>a, 
.main-menu.style2 .navigation>li.current>a {
    color: var(--thm-base);
}
.main-menu.style2 .navigation>li.dropdown>a {
    padding-right: 15px;
}

.header-bottom__right{
    position: relative;
    display: block;
}
.serach-button-style2{
    position: relative;
    display: block;
    width: 220px;
}
.serach-button-style2 input[type="search"]{
    position: relative;
    display: block;
    box-shadow: none;
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 50px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 30px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    border: none;
    font-family: var(--thm-font);
}
.serach-button-style2 input[type="search"]:focus{
    outline: none;
}
.serach-button-style2 input[type="search"]::-webkit-input-placeholder {
    color: #ffffff;
}
.serach-button-style2 input[type="search"]:-moz-placeholder {
    color: #ffffff;
}
.serach-button-style2 input[type="search"]::-moz-placeholder {
    color: #ffffff;
}
.serach-button-style2 input[type="search"]:-ms-input-placeholder {
    color: #ffffff;
}

.serach-button-style2 button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 48px;
    color: #ffffff;
    font-size: 16px;
    line-height: 39px;
}


  
/*** 
=====================================================
	Main Header style Three Css
=====================================================
***/
.header-style-three {

}
.header--style3{
    padding-top: 15px;
    background: transparent;
}
