/*** 
=============================================
    service Style1 Area Css
=============================================
***/
.service-style1-area{
    position: relative;
    display: block;
    padding: 150px 0 110px;
    overflow: hidden;
    background-image: -moz-linear-gradient( -90deg, rgb(230,254,255) 0%, rgba(230,254,255,0.2) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(230,254,255) 0%, rgba(230,254,255,0.2) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(230,254,255) 0%, rgba(230,254,255,0.2) 100%);
}
.service-style1-area .round-shape {
    position: absolute;
    top: -760px;
    left: -190px;
}
.service-style1-area .round-shape img{
    opacity: 0.35;
}

.single-service-style1{
    position: relative;
    display: block;
    max-width: 370px;
    width: 100%;
    margin: 0 auto 40px;
    background: #ffffff;
    padding: 70px 20px 62px;
    border-radius: 20px;
    box-shadow: 0px 10px 50px 0px rgba(26, 46, 85, 0.1);
    transform: translateY(0px);
    transition: all 0.1s ease-in-out 0.1s;
}
.single-service-style1:hover{
    transform: translateY(-5px); 
    transition: all 0.3s ease-in-out 0.1s;  
    box-shadow: 0px 20px 60px 0px rgba(26, 46, 85, 0.2); 
}

.single-service-style1 .icon-holder{
    position: relative;
    display: block;
}
.single-service-style1 .icon-holder img{
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out 0.1s;  
}
.single-service-style1:hover .icon-holder img{
    transform: rotateY(180deg);
}

.single-service-style1 .title-holder {
    position: relative;
    display: block;
    padding-top: 30px;
}
.single-service-style1 .title-holder h3{
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 15px;
}
.single-service-style1 .title-holder h3 a{
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}
.single-service-style1 .title-holder h3 a:hover{
    color: var(--thm-base);
}
.single-service-style1 .title-holder .inner-text{
    position: relative;
    display: block;
}
.single-service-style1 .title-holder .inner-text p{
    margin: 0;
}



/*** 
=============================================
    service Style2 Area Css
=============================================
***/
.service-style1-area--style2 {
    padding: 0px 0 110px;
    overflow: initial;
    background: #ffffff;
}
.service-style1-area--style2 .row{
    position: relative;
    z-index: 1;
}
.service-style1-area--style2.pdtop{
    padding-top: 150px;
}
.service-style1-area--style2 .round-shape-box {
    position: absolute;
    top: -500px;
    left: 0px;
}


.single-service-style1--instyle2{
    background: transparent;
    box-shadow: none; 
}
.single-service-style1--instyle2:hover,
.single-service-style1--instyle2.active{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 50px 0px rgba(26, 46, 85, 0.1);
}


  